{% extends 'base.html' %}
{% block body %}
<div class="container">
    
    <div class="col-8 mx-auto">
        <div class="row ">
            {% if messages %}
    {% for messagess in messages %}
    <div class="alert alert-{{messagess.tags}} alert-dismissible fade show" role="alert">
        <strong>{{messagess}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{request.user.email}}" name="email">
                <h2 class="text-center my-3 mb-5">Change password</h2>
            <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="old password" name="old_password" required/>
                <!-- <label class="form-label" for="typePasswordX-2">Password</label> -->
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="new password" name="new_password" required/>
                <!-- <label class="form-label" for="typePasswordX-2">Password</label> -->
            </div>
            <button type="submit" class="btn btn-primary mt-3 mb-5">change password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
